* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: .5rem 4rem;
    height: 3rem;
    border-radius: 7px;
}

.border-bottom {
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-transform: lowercase;
}

.profile {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.profile>div,
img {
    padding: 2rem;
}

.profile>div {
    border-right: 1px solid black;
}

section h2 {
    text-align: center;
    padding: 1rem 0;
    text-transform: capitalize;
}

#about>div {
    display: grid;
    flex-direction: row;
    padding: 2rem;
    grid-template-columns: 2fr 2fr 0fr;
    gap: 5rem;
    text-align: left;
}

#about>div > article > h1{
    padding-bottom: 1rem;
}


#work > div {
    text-align: center;
}

#work > div > h2 {
    padding-bottom: 0rem;
}

#work > article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0
}

#work > article > div + div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#resume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

#resume > div > * {
    text-align: left;
}

#resume a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: .5rem 4rem;
    height: 3rem;
    border-radius: 7px;
}

#personal-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    padding: 2rem 0;
}

#personal-info div {
    display: flex;
    flex-direction: column;
}

#personal-info div h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#personal-info div > small {
    font-size: .9rem;
    margin-bottom: .3rem;
}

#personal-info form {
    width: 25rem;
    border: 1px solid black;
    padding: 1rem;
}

#personal-info form input,textarea{
    border: 2px solid black;
    width: 100%;
    padding: .8rem 0 .8rem 1rem;
    border-radius: 4px;
}

#personal-info form textarea {
    resize: none;
}

