* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
}

.border-bottom {
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}

ul {
   display: flex; 
   flex-direction: row;
   gap: 2rem;
   text-transform: lowercase;
}

.profile  {
   display: grid; 
   grid-template-columns: 5fr 1fr;
}

.profile > div ,img {
    padding: 2rem; 
}

.profile > div {
    border-right: 1px solid black;
}


